# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Midterm.iml
# Datasource local storage ignored files
/../../../../../../../../../:\repos\_WINTER21\COMP-395 - Simulation Design\ClassWork_Feb18_DQ\Midterm\.idea\.idea.Midterm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
